.html {
	background: radial-gradient(circle farthest-corner, rgba(0, 20, 0, 0.4), rgba(0, 15, 0, 0.6), rgba(0, 15, 0, 0.8)), url('assets/bg.png') no-repeat center center fixed;
	background-size: cover;
	background-color: #000
}
.body {
	color: #FFF5E3;
	margin: 2em
}
@font-face {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-weight: 400
}
a {
	font-weight: 700;
	color: #597fd6
}
a: link,a: visited {
	text-decoration: none
}
a: hover,a: active {
	text-decoration: underline
}
.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em
}
.footer a {
	font-weight: 400 !important
}
#textarea {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1em;
	background-color: rgba(0,0,0, 0.3);
	width: 100%;
	height: 100%;
	white-space: pre;
	margin: 0
}
.softlink {
	color: #32c9e3;
	font-weight: 700 !important
}
.softlink-target {
	color: #597fd6;
	font-weight: 700 !important
}
.prompt-hostline {
	color: #ACFA33;
	font-weight: 700 !important
}
.prompt-normal {
	color: #FFF5E3;
	font-weight: 700 !important
}
.prompt-path {
	color: #597fd6;
	font-weight: 700 !important
}
.command-output {
	margin: 0
}
